<div class="container bg-info  p-4 rounded-3 shadow">
    <div class="container bg-info  ">
        <div class="text-center">
            <p class="text-light fs-3 text-center">Contactanos</p>
        </div>
        <div class="row g-3 p-2 ">
            <div class="col-md-12 ">
                <div class="row ">
                    <div class="col-md-6 ">
                        <div class="mb-8">
                            <div class="container">
                                <div class="g-3 text-center">
                                    <h5 class="p-3 text-light">¿Tienes alguna duda? </h5>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="Nombre de la empresa">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="Nombre completo">
                                    </div>
                                    <div class="mb-3">
                                        <input type="email" class="form-control" id="exampleFormControlInput1"
                                            placeholder="ejemplo@gmail.com">
                                    </div>
                                    <div class="mb-3">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                            placeholder="Indica tu duda"></textarea>
                                    </div>
                                    <div class="d-grid gap-2 col-3 mx-auto g-5 ">
                                        <button class="btn btn-danger text-white" type="submit">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  ">
                        <div class="container text-center p-5  ">
                            <img src="https://cdn.euroinnova.edu.es/img/subidasEditor/curso-en-linea-para-ser-asesor-1596254753.jpg"
                                class="border-0 img-fluid" alt="ups algo salio mal." >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br></br>