<br><br><br>
<div class="shadow-lg p-2 mb-2 bg-body rounded">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p class="fs-3">REGISTRO</p>
        </blockquote>
    </figure>
    <div class="row g-3">
        <div class="col-md-12">
            <div class="row ">
                <div class="col-md-8">
                    <div class="mb-8">
                        <div class="container">
                            <div class="g-3"><br><br>
                                <form class="row g-4 ">
                                    <div class="col-md-6 ">
                                        <label for="validationCustom01" class="form-label fs-6">Numero de
                                            Indentificación Fiscal de la Empresa</label>
                                        <input type="text" class="form-control" id="validationCustom01"
                                            placeholder="Indentificación Fiscal de la Empresa">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="validationCustom02" class="form-label fs-6">Nombre del
                                            representante</label>
                                        <input type="text" class="form-control" id="validationCustom02"
                                            placeholder="Nombre completo">
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="validationCustom01" class="form-label fs-6">Cargo</label>
                                        <input type="text" class="form-control" id="validationCustom01"
                                            placeholder="Cargo en la empresa">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="validationCustom02" class="form-label fs-6">Email</label>
                                        <input type="text" class="form-control" id="validationCustom02"
                                            placeholder="ejemplo@gmail.com">
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="validationCustom01" class="form-label fs-6">Password</label>
                                        <input type="password" class="form-control" id="validationCustom01"
                                            placeholder="*********">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="validationCustom02" class="form-label fs-6">Confirmar
                                            password</label>
                                        <input type="password" class="form-control" id="validationCustom02"
                                            placeholder="*********">
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3  shadow ">
                    <div class="container ">
                        <br><br>
                        <div class="text-center">
                            <h5>Cargar su DNI</h5>
                        </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class=" text-center d-grid gap-2 col-3 mx-auto ">
                <button class="btn btn-info text-white" type="submit">Registrarse</button>
                <span class="text-info">Si ya estas registrardo </span><a href="/Sesion"> ingresa AQUI</a>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>