<div class=" d-flex justify-content-center p-5  ">
    <div class="shadow-lg p-5 mb-5 bg-body rounded " style="width: 500px" ;>
        <figure class="text-center">
            <blockquote class="blockquote">
                <p class="fs-4">COTIZACION</p>
            </blockquote>
        </figure>
        <div class="container  p-3 ">
            <span>Llena los siguientes campos para la cotizacion.</span>
        </div>
        <div class="container p-3">
            <form class="row g-4 ">
                <div class="col-md-12 ">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                        <select class="form-select" id="inlineFormSelectPref">
                            <option selected>Num Empleados.</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
            <div class="col-12">
                <label class="visually-hidden" for="inlineFormSelectPref" >Preference</label>
                <select class="form-select" id="inlineFormSelectPref">
                    <option selected>Especialidad.</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="col-12">
                <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                <select class="form-select" id="inlineFormSelectPref">
                    <option selected>Tiempo de contratazion.</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="col-12">
                <input type="text" class="form-control" placeholder="Salario Bruto" aria-label="City">
            </div>
            </form>
        </div>
        <div class=" text-center  col-12 mx-auto  ">
            <div class=" text-center d-grid gap-2 col-6 mx-auto g-5 ">
                <a class="btn btn-info text-white" href="">COTIZAR</a>
                <a href="/sesion/Isesion"> Regresar</a>
            </div>
        </div>
    </div>
</div>